DATABASE_URI=mongodb+srv://healthvia-admin:856La10wyrZjcTp8@healthvia-cluster.fmhbixt.mongodb.net/healthvia?retryWrites=true&w=majority&appName=healthvia-cluster
PAYLOAD_SECRET=Gn4I/VImGnkLmRtdKEfPsFHaDHap/gpOHwvAxqHVm6w=
NEXT_PUBLIC_HEALTHVIA_API_URL=https://api.healthviatech.website