DATABASE_URI=mongodb://admin:healthvia123@localhost:27017/healthvia-admin?authSource=admin
PAYLOAD_SECRET=Gn4I/VImGnkLmRtdKEfPsFHaDHap/gpOHwvAxqHVm6w=
NEXT_PUBLIC_HEALTHVIA_API_URL=https://api.healthviatech.website